.container-navigation {
    height: 100%;
    width: 25%;
    float: left;
    position: absolute;
    margin-top: 80px;
}
 
.bill_button {
    color: white;
    height: 30px;
    width: 188px;
    margin-left: 110px;
    margin-top: 50px;
    font-size: 13px;
    cursor: pointer;
  }

.stock-button {
    color: white;
    height: 30px;
    width: 188px;
    margin-left: 110px;
    margin-top: 20px;
    font-size: 13px;
    cursor: pointer;
  }

 .enabled{
  background-color: #204180;
 } 

 .disabled{
  background-color: #5B5C5F;
 }
