.usuario-icon {
    margin-left: 40%;
    margin-top: 66px;
}
  
.title-user {
    font-family: serif;
    width: 60%;
    padding-top: 63px;
    margin-left: 20%;
    font-size: x-large;
    height: 69px;
}
  